main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

.page-content p, 
.page-content h1, 
.page-content h2, 
.page-content h3, 
.page-content h4, 
.page-content h5, 
.page-content h6, 
.page-content span,
.page-content a,
.page-content label {
    padding-top: 0.5rem;  /* Equivalent to Bootstrap's py-2 */
    padding-bottom: 0.5rem; /* Equivalent to Bootstrap's py-2 */
}

a {
    text-decoration: none; 
    color: inherit;
}

a span{
    color: indianred;
    text-decoration-line: none; 
}